@import "nullstyle.scss";
html {
    scroll-behavior: smooth;
}
a{
    color: white;
}


//-------------------firstblock--------------//

.first-block{
    background: url(../images/background_1.png) center center no-repeat ;
    border: 2px dashed grey;
    background-size: cover;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    color: white;
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-size: 25px;
}
.menu {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
		&__item {
            margin: 0px 50px 0px 0px;
		}   
}

.burger{
    margin-right: 20px;
}  
.travel {
    text-align: center;
    color: white;
    &__text {
        margin: 130px 0px 20px 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &__title {
        font-size: 50px;
        text-transform: uppercase;
        display:block;
        max-width:100%;
        height:auto;
    }
    &__description {
        margin: 20px 0px 20px 0px;
        font-size: 15px;
    }
    &__button {
        margin: 40px 0px 314px 0px;
        background-color: #1C5AB7;
        padding: 15px 40px;
        border-radius: 3%;
        color: white;
    }
    &__icon  {
        position: absolute;
        top: 55%;
        left: 48%;
        margin: 200px 0px 200px 0px;
    }
}

//-------------------firstblock--------------//


//-------------------selection--------------//

.selection {
    border: 2px dashed grey;
    background-color: black;
    &__text {
        padding: 50px 0px 20px 0px;
        font-size: 25px;
        text-align: center;
        color: #A7C3D3;
    }
    &__title {
        text-align: center;
        font-size: 27px;
        text-transform: uppercase;
        color: white;
        margin: 0px 0px 50px 0px;
    }
    &__first-row {
        display: flex;
        flex: 0 0 25%;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__second-row {
        display: flex;
        flex: 0 0 25%;
        flex-wrap: wrap;
        justify-content: center;


    }
}
.item {
    &__photo img{
        margin: 0px 20px 0px 0px;
        width: 280px;
    }
    &__text {
        text-transform: uppercase;
        margin: 15px 0px 25px 20px;
        color: white;
    }
}

//-------------------firstblock--------------//


//-------------------info--------------//

.info {
    border: 2px dashed grey;
    background-color: black;
    &__subtitle {
        padding: 50px 0px 20px 0px;
        text-align: center;
        color: #A7C3D3;
    }
    &__title {
        text-align: center;
        color: white;
    }
    &__text {
        max-width: 735px;
        margin: 40px auto;
        text-align: center;
        color: white;
    }
    .item {
        display: flex;
        flex: 0 0 25%;
        flex-wrap: wrap;
		&__row {
            max-width: 200px;
            text-align: center;
            margin: 0 auto;
		}
		&__title {
            color: white;
            margin: 10px 0px;
            font-size: 16px;
		}
		&__info {
            color: white;
            max-width: 260px;
            padding: 0px 0px 50px 0px;
		}
}
}

//-------------------info--------------//


//-------------------reviews--------------//

.reviews {
    border: 2px dashed grey;
    background-color: black;
    &__photo {
       position: relative; 
    }
    &__photo-first {
        padding: 40px 0px 0px 0px;
        display: block;
        max-width: 100%;
        height: auto;

    }

 /*   &__photo-second {
        display:block;
        max-width:100%;
        max-height:400px;
        margin: -450px 0px 0px -130px;
        z-index: 5; 
  
    }
    &__photo-third {
        display:block;
        max-width:300px;
        height:auto;
        margin: -500px 0px 0px 88%;
 
    }
    &__icon {


    }
    */
    &__title {
        color: white;
        font-size: 35px;
        text-align: center;
        margin: 70px 0px 50px 0px;
    }
}
.items {
    justify-content: center;
    display: flex;
    flex: 0 0 25%;
    flex-wrap: wrap;
    text-align: center;
    &__row {
        margin-right: 30px;
    }
    &__logo {
        display: flex;
        flex-wrap: wrap;
    }
    &__logo-text {
        margin: 0px 0px 0px 5px;
        color: white;
        font-size: 50px;
        text-transform: uppercase;
    }
    &__icon {
        margin: 15px 0px;
    }
    &__reviews {
        color:#A7C3D3;
        font-size: 20px;
        display: block;
        margin: 0px 0px 50px 0px;
        text-decoration: underline;
    }
}
//-------------------reviews--------------//


//-------------------place--------------//

.place {
    border: 2px dashed grey;
    background-color: black;
    text-align: center;
    &__title {
        color: #A7C3D3;
        margin: 50px 0px 0px 0px;
        font-size: 30px;
    }
    &__subtitle {
        color: white;
        margin: 15px 0px 25px 0px;
        font-size: 20px;
        text-transform: uppercase;
    }
    &__photo img{
        display:block;
        max-width:100%;
        height:auto;
    }
    &__request {
        color: #A7C3D3;
        margin: 40px 0px 20px 0px;
        font-size: 30px;
    }
    &__request-text {
        color: white;
        font-size: 25px;
        margin: 0px 0px 50px 0px;
        text-transform: uppercase;
    }
    &__request-form {
        display: flex;
        justify-content: center;
        padding: 0px 0px 50px 0px;
    }
    &__request-form-input {
        width: 500px;
        text-align: center;
        color: white;
      //  padding: 20px 200px; //
        background-color: #16161D;
        box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.25);
        border-radius: 8px;
    }
    &__request-form-btn {
        color: white;
        background-color: #1C5AB7;
        padding: 20px 40px;
        box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.25);
        border-radius: 8px;
    }
}

//-------------------place--------------//


//-------------------footer--------------//

.footer {
    color: white;
    padding: 40px 0px;
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__logo {
        font-size: 25px;
        margin-right: 50px;
    }
    &__menu {
        display: flex; 
        flex-wrap: wrap;
    }
    &__menu-item {
        margin: 0px 50px 0px 0px;   
    }

    &__icon-back {
        margin-right: 20px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    &__icon-facebook {
        margin-right: 30px;
    }
    &__icon-inst {
        margin-right: 30px;

    }
    &__icon-telegramm {
        margin-right: 30px;

    }
}
//-------------------footer--------------//

@media screen and (max-device-width: 767px){
    nav.menu {
        display: none;
    }
}

@media screen and (max-device-width: 576px){
    h1.travel__title{
        font-size: 30px;
    }
}

@media screen and (max-device-width: 576px){
    .footer__row{
        display: block;
        text-align: center;
    }
    .footer__menu{
        justify-content: center;
        margin: 15px 0px 15px 0px;
    }
    .footer__icon-back{
        margin-right: 50px;
    }

}

@media screen and (max-device-width: 420px){
    .footer__menu{
        font-size: 20px;
        flex-direction: column;
        justify-content: center;
    }
    .footer__logo{
        text-align: center;
    }
    .footer__icon-back{
        margin-right: 50px;
    }
}




